*{
    margin:0px;
    padding:0px;
}
.main
{
    height: auto;
    width: 30vw;
    /* border: 2px solid red; */
    border-radius: 30px;
    margin:100px auto;
    /* text-align: center; */
}
ul
{
    height: auto;
    width:30vw;
    /* border:2px solid black; */
    list-style: none;
}
li
{
    height: 8vh;
    width: 30vw;
    box-shadow: 2px 2px 2px 2px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.updated
{
    background-color: transparent;
    visibility: hidden;
}